@font-face {
  font-family:Unbounded;
  src:url(./Unbounded-ExtraLight.woff2) format("woff2");
  font-weight:200;
  font-style:normal;
  font-display:block
}
@font-face {
  font-family:Unbounded;
  src:url(./Unbounded-Light.woff2) format("woff2");
  font-weight:300;
  font-style:normal;
  font-display:block
}
@font-face {
  font-family:Unbounded;
  src:url(./Unbounded-Regular.woff2) format("woff2");
  font-weight:400;
  font-style:normal;
  font-display:block
}
@font-face {
  font-family:Unbounded;
  src:url(./Unbounded-Medium.woff2) format("woff2");
  font-weight:500;
  font-style:normal;
  font-display:block
}
@font-face {
  font-family:Unbounded;
  src:url(./Unbounded-Bold.woff2) format("woff2");
  font-weight:700;
  font-style:normal;
  font-display:block
}
@font-face {
  font-family:Unbounded;
  src:url(./Unbounded-Black.woff2) format("woff2");
  font-weight:900;
  font-style:normal;
  font-display:block
}