name: RFC Cron

on:
    workflow_dispatch:
    schedule:
      - cron: '0 12 * * *'
  
jobs:
  rfc_notification:
    runs-on: ubuntu-latest
    name: Notify on referendas
    steps:
        - name: Get last run
          run: |
            last=$(gh run list -w "$WORKFLOW" --json startedAt,status -q 'map(select(.status == "completed"))[0].startedAt')
            echo "last=$last" >> "$GITHUB_OUTPUT"
          id: date
          env: 
           GH_TOKEN: ${{ github.token }}
           WORKFLOW: ${{ github.workflow }}
           GH_REPO: "${{ github.repository_owner }}/${{ github.event.repository.name }}"
        - uses: paritytech/rfc-action@v0.0.8
          env:
            GH_TOKEN: ${{ github.token }}
            PROVIDER_URL: "wss://polkadot-collectives-rpc.polkadot.io"
            START_DATE: ${{ steps.date.outputs.last }}
